Ques1: Discuss string slicing and provide examples
Ans: In slicing string  You can return a range of characters by using the slice syntax.

 It Specify the start index and the end index, separated by a colon, to return a part of the string.

In [1]:
#examples:
b = "Hello, World!"

In [2]:
b

'Hello, World!'

In [3]:
b[3:5]

'lo'

In [4]:
b[0:]

'Hello, World!'

In [5]:
#you want every character but not the last character
b[:-3]

'Hello, Wor'

In [6]:
b[1]

'e'

In [7]:
b[0:4:1]

'Hell'

In [8]:
b[::3]

'Hl r!'

QUES2: Explain the key features of lists in python?
Ans: The list is a sequence data type which is used to store the collection of data. Tuples and String are other types of sequence data types.
         Lists are the simplest containers that are an integral part of the Python language. Lists need not be homogeneous always which makes it the most powerful tool in Python. A single list may contain DataTypes like Integers, Strings, as well as Objects. Lists are mutable, and hence, they can be altered even after their creation.

         Features:
         1.lists are mutable
         2.lists are ordered collection of iems
         3.it symbolize with[]
         4.it allowws duplicates

In [9]:
#Ques3: Describe how to access, modify and delete elements in a list with examples?
#Ans: we access the list items by referring to the index number:
#examples:
grocery_list = ["k", "m", 1, 2.3, True, 5+6j]

In [10]:
grocery_list

['k', 'm', 1, 2.3, True, (5+6j)]

In [12]:
type(grocery_list)

list

In [13]:
grocery_list[1]

'm'

In [14]:
grocery_list[::-3]

[(5+6j), 1]

In [15]:
#modify
#List in python is mutable types which means it can be changed after assigning some value. The list is similar to arrays in other programming languages. In this article, we are going to see how to change list items in python. 
#Examples:
lis = ["aple", "mango", "orange"]

In [16]:
lis[1]= "brinjal"

In [17]:
lis

['aple', 'brinjal', 'orange']

In [18]:
#delete elements
book_list = ["Data str", 'algorithm', "web"]

In [19]:
#The del keyword also removes the specified index:
del book_list[0]

In [20]:
book_list

['algorithm', 'web']

In [21]:
#The del keyword can also delete the list completely.
del book_list

In [22]:
book_list

NameError: name 'book_list' is not defined

Ques4: Compare and contrast tuples and lists with example?
Ans:

1	Lists are mutable	Tuples are immutable
2	The implication of iterations is Time-consuming	,The implication of iterations is comparatively Faster in tuples
3	The list is better for performing operations, such as insertion and deletion.	A Tuple data type is appropriate for accessing the elements
4	Lists consume more memory	, Tuple consumes less memory as compared to the list
5	Lists have several built-in methods,	Tuple does not have many built-in methods.
6	Unexpected changes and errors are more likely to occur, tuples don't change so they have very less error prior.

In [23]:
#examples of lists in python
# Creating a List with
# the use of Numbers
# code to test that tuples are mutable
List = [1, 2, 4, 4, 3, 3, 3, 6, 5]
print("Original list ", List)

List[3] = 77
print("Example to show mutability ", List)

Original list  [1, 2, 4, 4, 3, 3, 3, 6, 5]
Example to show mutability  [1, 2, 4, 77, 3, 3, 3, 6, 5]

In [24]:
## code to test that tuples are immutable

tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print(tuple1)

TypeError: 'tuple' object does not support item assignment

Ques5:  Describe the key features of sets and provide examples of their use
Ans: Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

Note:Set items are unchangeable, but you can remove items and add new items.

In [25]:
#examples?:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [26]:
#Sets are unordered, so you cannot be sure in which order the items will appear.
#Unordered means that the items in a set do not have a defined order.

#Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
#Set items are unchangeable, meaning that we cannot change the items after the set has been created.
#once a set is created, you cannot change its items, but you can remove items and add new items.
#Sets cannot have two items with the same value.
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

In [27]:
#The values True and 1 are considered the same value in sets, and are treated as duplicates:


thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'cherry', 'apple', 'banana'}

In [28]:
#The values False and 0 are considered the same value in sets, and are treated as duplicates:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'cherry', 'apple', 'banana'}

In [29]:
#To determine how many items a set has, use the len() function.
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [30]:
#Set items can be of any data type:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [31]:
set3

{False, True}

In [32]:
#A set can contain different data types:
set1 = {"abc", 34, True, 40, "male"}

In [33]:
set1

{34, 40, True, 'abc', 'male'}

In [34]:
#From Python's perspective, sets are defined as objects with the data type 'set
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [35]:
#It is also possible to use the set() constructor to make a set
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

Ques6: Discuss the use cases of tuples and sets in Python programming?
ans: Tuples are used to store multiple items in a single variable. Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage. A tuple is a collection which is ordered and unchangeable.

In [36]:
#examples:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [37]:
##tuples are immutable
thistuple[1] = "grapes"

TypeError: 'tuple' object does not support item assignment

In [38]:
thistuple.count("cheery")

0

In [39]:
thistuple[::1]

('apple', 'banana', 'cherry')

In [40]:
#sets
#A common use of sets in Python is computing standard math operations such as union, intersection, difference, and symmetric difference. The image below shows a couple standard math operations on two sets A and B. The red part of each Venn diagram is the resulting set of a given set operation.
s = {1, 2, 1, 2, 2, "komal", "komal", "komal"}

In [41]:
s

{1, 2, 'komal'}

In [42]:
list1 = [1, 2, 3, "brinjal", "apple", "apple"]
s = set(list1)

In [43]:
list1

[1, 2, 3, 'brinjal', 'apple', 'apple']

In [44]:
list1 = list(s)

In [45]:
list1

[1, 2, 3, 'apple', 'brinjal']

In [46]:
#s[0] # as set is unordered that is why it will not allow indexing
s[0]

TypeError: 'set' object is not subscriptable

In [47]:
#set is mutable
s.add(100) # not compulsory that it will add to the last of list

In [48]:
s

{1, 100, 2, 3, 'apple', 'brinjal'}

In [49]:
s.pop() #it is not compulsory it will remove the last elements

1

In [50]:
s

{100, 2, 3, 'apple', 'brinjal'}

In [51]:
s.remove(3) #removes a specific element

In [52]:
s

{100, 2, 'apple', 'brinjal'}

In [53]:
s.pop(4) #it removes randomly so it cannot pass any parameter something like this

TypeError: set.pop() takes no arguments (1 given)

In [54]:
s.remove(102)

KeyError: 102

In [55]:
s.update("komal")

In [56]:
s

{100, 2, 'a', 'apple', 'brinjal', 'k', 'l', 'm', 'o'}

In [57]:
s = {(1,2,3), 100, '2',}

In [58]:
s

{(1, 2, 3), 100, '2'}

In [59]:
type(s)

set

In [60]:


s.clear()

In [61]:
s

set()

In [1]:
del s

NameError: name 's' is not defined

In [2]:
s = {(1,2,3), 100,101, 102,'2'}

In [3]:
s.remove()

TypeError: set.remove() takes exactly one argument (0 given)

In [4]:
s.remove(102)

In [5]:
s

{(1, 2, 3), 100, 101, '2'}

In [6]:
s.remove(110)

KeyError: 110

In [7]:
s.discard(100)

In [8]:
s

{(1, 2, 3), 101, '2'}

In [9]:
s1 = {"hiking", "reading", "coding"}
s2 = {"coding", "photography","travelling"}

In [10]:
s1

{'coding', 'hiking', 'reading'}

In [11]:
s2

{'coding', 'photography', 'travelling'}

In [12]:
s1 | s2 #union combine all the elements

{'coding', 'hiking', 'photography', 'reading', 'travelling'}

In [13]:
s1 & s2 #intersection common elements

{'coding'}

In [14]:
s1 - s2 # difference

{'hiking', 'reading'}

In [15]:
s2 - s1

{'photography', 'travelling'}

In [16]:
#symmetric difference
s1 ^ s2

{'hiking', 'photography', 'reading', 'travelling'}

In [17]:
#frozen sets
s = {1,2,3}
s.add(100)

In [18]:
s

{1, 2, 3, 100}

In [19]:
#frozen sets >> immutable version of set , cannot be added or removed any new element
my_fs = frozenset([1,2,3,3,4,5])

In [20]:
my_fs

frozenset({1, 2, 3, 4, 5})

In [21]:
my_fs.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [22]:
#Ques7:Describe how to add, modify and delete items in a dictionary with examples
#Ans:Adding an item to the dictionary is done by using a new index key and assigning a value to it:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [23]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

update dictionary
The update() method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [24]:
#example
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

In [25]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [26]:
#modify
#You can change the value of a specific item by referring to its key name:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

update dictionary
The update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [27]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

In [28]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [29]:
#There are several methods to remove items from a dictionary:
#examples
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [30]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [31]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [32]:
#The del keyword can also delete the dictionary completely:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [33]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

Ques8: Discuss the importance of dictionary keys using immutable and provide examples
Ans:Dictionaries in Python is a data structure, used to store values in key: value format. This makes it different from lists, tuples, and arrays as in a dictionary each key has an associated value.
          In Python, a dictionary can be created by placing a sequence of elements within curly {} braces, separated by a ‘comma’. The dictionary holds pairs of values, one being the Key and the other corresponding pair element being its Key:value. Values in a dictionary can be of any data type and can be duplicated, whereas keys can’t be repeated and must be immutable.

Note – Dictionary keys are case sensitive, the same name but different cases of Key will be treated distinctly.

The code demonstrates creating dictionaries with different types of keys. The first dictionary uses integer keys, and the second dictionary uses a mix of string and integer keys with corresponding values. This showcases the flexibility of Python dictionaries in handling various data types as keys

In [34]:
#examples
Dict = {1: 'Pw', 2: 'skills'}
print("\nDictionary with the use of Integer Keys: ")
print(Dict)

Dict = {'Name': 'Pw', 1: [1, 2, 3, 4]}
print("\nDictionary with the use of Mixed Keys: ")
print(Dict)

Dictionary with the use of Integer Keys:
{1: 'Pw', 2: 'skills'}

Dictionary with the use of Mixed Keys:
{'Name': 'Pw', 1: [1, 2, 3, 4]}

In [35]:
#A dictionary can also be created by the built-in function dict(). An empty dictionary can be created by just placing curly braces{}.
Dict = {}
print("Empty Dictionary: ")
print(Dict)

Dict = dict({1: 'Pws', 2: 'skills', })
print("\nDictionary with the use of dict(): ")
print(Dict)

Dict = dict([(1, 'Pw'), (2, 'For')])
print("\nDictionary with each item as a pair: ")
print(Dict)

Empty Dictionary:
{}

Dictionary with the use of dict():
{1: 'Pws', 2: 'skills'}

Dictionary with each item as a pair:
{1: 'Pw', 2: 'For'}

Add Items to a Python Dictionary with Different DataTypes

The code starts with an empty dictionary and then adds key-value pairs to it. It demonstrates adding elements with various data types, updating a key’s value, and even nesting dictionaries within the main dictionary. The code shows how to manipulate dictionaries in Python

In [36]:
#examples
Dict = {}
print("Empty Dictionary: ")
print(Dict)
Dict[0] = 'Pw'
Dict[2] = 'skills'
Dict[3] = 1
print("\nDictionary after adding 3 elements: ")
print(Dict)

Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ")
print(Dict)

Dict[2] = 'Welcome'
print("\nUpdated key value: ")
print(Dict)
Dict[5] = {'Nested': {'1': 'Life', '2': 'Geeks'}}
print("\nAdding a Nested Key: ")
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'Pw', 2: 'skills', 3: 1}

Dictionary after adding 3 elements:
{0: 'Pw', 2: 'skills', 3: 1, 'Value_set': (2, 3, 4)}

Updated key value:
{0: 'Pw', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4)}

Adding a Nested Key:
{0: 'Pw', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Life', '2': 'Geeks'}}}